<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977608117190-r3o8ohma1omhrhj0g9nigj6sm08n72vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977608117190-r3o8ohma1omhrhj0g9nigj6sm08n72vv</string>
	<key>API_KEY</key>
	<string>AIzaSyBSB3cn1wScM0xUw0GT9Toxqll5DS1ULgM</string>
	<key>GCM_SENDER_ID</key>
	<string>977608117190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mateussilva.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mateus-mynotes-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mateus-mynotes-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977608117190:ios:269e9a4e0d0ba93a8ec0c7</string>
</dict>
</plist>